//Authorize class
.pf-authorize {
    //Authorize content
    &-content {
        display: block;
        width: 350px;
        margin-top: 120px;
        margin-bottom: 180px;
        margin-left: auto;
        margin-right: auto;
    }
    //Authorize loading spinner
    &-loading {
        margin-top: 20px;
    }
    //Authorize subtitle
    &-subtitle {
        display: block;
        font-size: 14px !important;
        margin-bottom: 15px !important;
    }
    //Permissions
    &-permissions {
        display: block;
        &-title {
            font-size: 15px;
            margin-bottom: 0px !important;
        }
        &-description {
            display: block;
            line-height: 18px;
        }
    }
    //Privacy notice 
    &-privacy {
        display: block;
        margin-bottom: 10px;
        text-align: justify;
    }
    //Submit button
    &-submit {
        margin-bottom: 10px;
    }
    //Footer content
    &-footer {
        display: block;
        text-align: center;
    }
}

