// Register content div
.register-content {
    display: block;
    width: 304px;
    margin: 120px auto 180px;
    font-family: 'Open Sans', sans-serif;
}

// Register subtitle
.register-subtitle {
    margin-bottom: 10px !important;
}

// Register input
.register-input {
    width: 100%;
}

// Register captcha
.register-captcha {
    margin-top: 5px;
}

// Register error
.register-error {
    margin-top: 15px;
}

// Register submit button
.register-submit {
    width: 100%;
    margin-top: 10px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

// Register privacy
.register-privacy {
    margin-top: 25px;
    margin-bottom: 15px;
}