//Register class
.pf-register {
    &-content {
        display: block;
        width: 304px;
        margin-top: 50px;
        margin-bottom: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    &-subtitle {
        margin-bottom: 10px !important;
        display: block;
    }
    &-captcha {
        margin-top: 5px;
    }
    &-login {
        margin-top: 20px !important;
        display: block;
    }
    &-privacy {
        display: block;
        margin-top: 25px;
        margin-bottom: 15px;
    }
    &-success {
        display: block;
        margin-top: 240px !important;
    }
}

