* {
    font-family: "Montserrat", serif;
}

.p-small {
    font-size: 13px;
    color: #879aab;
}

//Toast styles
.toast {
    opacity: 0;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -100px;
    width: 350px;
    transition: 0.5s;
    z-index: 100;
}

.toast--visible {
    transform: translateY(-150px);
    transition: 0.5s;
    opacity: 1 !important;
}