.pf-dashboard {
    //Dashboard menu
    &-menu {
        &-item {
            cursor: pointer;
        }
        &-item .siimple-list-title {
            margin-bottom: 0px !important;
        }
        &-item .siimple-small {
            display: block;
            line-height: 20px;
        }
    }
    //Logout 
    &-logout {
        float: right;
    }
    //Dashboard content
    &-content {
        display: block;
    }
}

