{#{% extends "partials/alert.html" %}#}

<!-- Styles -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.0.0/dist/siimple.min.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/dashboard.css">

<!-- Scripts -->
<script src="/js/scripts.js"></script>

<!-- Title -->
<title>User dashboard</title>

<!-- View -->
<div class="siimple-navbar siimple-navbar--small siimple-navbar--grey">
    <div class="siimple-layout--left">
        <a class="siimple-navbar-title">{{ openid_name }}</a>
    </div>
    <div class="siimple-layout--right">
        <a class="siimple-btn siimple-btn--navy dashboard-logout" href="/logout">Logout</a>
    </div>
</div>
<div class="siimple-content siimple-content--small">
    <div class="siimple-grid">
        <div class="siimple-grid-row">
            <!-- Side menu -->
            <div class="menu siimple-grid-col siimple-grid-col--3">
                <!-- User panel -->
                <div class="user-panel">
                    <div class="siimple-menu">
                        <div class="siimple-menu-group">Personal settings</div>
                        <a class="siimple-menu-item" href="/dashboard/profile">Profile</a>
                        <a class="siimple-menu-item">Authorised apps</a>
                        <a class="siimple-menu-item" href="/dashboard/account/password">Change password</a>
                        <a class="siimple-menu-item" href="/dashboard/account/delete">Delete account</a>
                    </div>
                </div>
                {% if is_admin %}
                    <!-- Admin panel -->
                    <div class="admin-panel">
                        <div class="siimple-menu">
                            <div class="siimple-menu-group">Administration</div>
                            <a class="siimple-menu-item" href="/dashboard/admin/users">Users management</a>
                            <a class="siimple-menu-item" href="/dashboard/admin/apps">Apps management</a>
                        </div>
                    </div>
                {% endif %}
            </div>
            <!-- Content -->
            <div class="dashboard-content siimple-grid-col siimple-grid-col--9">
                {% block dashboardContent %}{% endblock %}
            </div>
        </div>
    </div>
</div>
