.edit-app-form {
    //max-width: 365px;
    margin-bottom: 2em;
}

.edit-app-input {
    //width: 100%;
}

.edit-app-delete .btn {
    margin-top: 1em;
}

.edit-app-keys p {
    margin-top: 6px;
}

.edit-app-keys .key-header {
    margin-bottom: 0 !important;
    margin-top: 10px !important;
}