//Login class
.pf-login {
    &-content {
        display: block;
        width: 304px;
        margin-top: 120px;
        margin-bottom: 180px;
        margin-left: auto;
        margin-right: auto;
    }
    &-subtitle {
        margin-bottom: 10px !important;
    }
    &-captcha {
        margin-top: 5px;
    }
    &-privacy {
        margin-top: 25px;
        margin-bottom: 15px;
    }
    &-register {
        margin-top: 30px !important;
    }
}

