// Login content div
.login-content {
    display: block;
    width: 304px;
    margin: 120px auto 180px;
}

// Login subtitle
.login-subtitle {
    margin-bottom: 10px !important;
}

// Login input
.login-input {
    width: 100%;
}

// Login captcha
.login-captcha {
    margin-top: 5px;
}

// Login error
.login-error {
    margin-top: 15px;
}

// Login submit button
.login-submit {
    width: 100%;
    margin-top: 10px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

// Login register box
.login-register {
    font-size: 15px;
    margin-top: 30px !important;
}

// Login reset password
.login-forgot {
    margin-top: 10px;
}

// Login privacy
.login-privacy {
    margin-top: 25px;
    margin-bottom: 15px;
}