@import "siimple-colors/scss/_all.scss";

//Table class
.pf-table {
    display: block;
    color: $siimple-navy;
    //Table item
    &-item {
        display: table;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        border-top: 1px solid $siimple-grey;
        &:last-child {
            border-bottom: 1px solid $siimple-grey;
        }
    }
    //Table item cell
    &-cell {
        display: table-cell;
        vertical-align: middle;
        width: 1%;
        //Primary table cell 
        &--primary {
            width: 99%;
            padding-right: 15px !important;
            padding-left: 15px !important;
        }
        //Tag table cell
        &--tag {
            min-width: 60px;
            text-align: center;
        }
    }
    //Cell title 
    &-title {
        display: block;
        font-weight: bold;
        font-size: 15px;
    }
    //Cell description 
    &-description {
        display: block;
        font-size: 13px;
        color: $siimple-navy-light;
    }
    //Table images
    &-image {
        width: 55px;
        height: 55px;
        background-color: $siimple-navy-light;
        background-size: 55px 55px;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 100px;
        //Applications icon
        &--application {
            background-image: url('./img/application.png');
        }
        //User icon
        &--user {
            background-image: url('./img/user.png');
        }
    }
    //Table button
    &-btn {
        height: 30px;
        line-height: 30px;
        font-size: 14px;
    }
    //Table icons
    &-icon {
        width: 20px;
        height: 20px;
        //background-color: $siimple-navy-light;
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: center;
        &:hover{
            cursor: pointer;
        }
        //Edit icon
        &--edit {
            background-image: url('./img/icon-edit.png');
            margin-right: 5px;
        }
        //Delete icon
        &--delete {
            background-image: url('./img/icon-delete.png');
        }
        //Disabled icon
        &--disabled {
            opacity: 0.5 !important;
        }
    }

}

