<!-- Styles -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/siimple/2.0.1/siimple.min.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/login.css">

<!-- Scripts -->
<script src="https://www.google.com/recaptcha/api.js?hl=en"></script>

<!-- Send the login form -->
<script type="text/javascript">
  //Send the form
  function send_form_login(){ return document.getElementById('login-submit').click(); }
</script>

<!-- Title -->
<title>Authorize - {{ openid_name }}</title>

<!-- Content -->
<div class="login-content">
  <!-- Title -->
  <div class="siimple-h2" align="center">Authorize</div>
  <!-- Detail -->
  <div class="login-detail" align="center">
    <b>{{ app_name }}</b> would like permission to access to your account information.
  </div>
  <form id="login-form" method="POST" enctype="application/x-www-form-urlencoded">
    {% if error %}
      <!-- Display the alert message -->
      <div class="siimple-alert siimple-alert--error" align="center">{{ error }}</div>
    {% endif %}
    <!-- Email -->
    <div>
      <label class="siimple-label">Email</label><br>
      <input type="email" class="siimple-input login-input" name="email" required>
    </div>
    <!-- Password input -->
    <div>
      <label class="siimple-label">Password</label><br>
      <input type="password" class="siimple-input login-input" name="pwd" pattern=".{6,}" title="6 characters minimum" required><br>
    </div>
    <input type="hidden" name="client" value="{{ app_id }}" required>
    <!-- <input type="hidden" name="state" value="{{ app_state }}" required> -->
    <!-- Captcha -->
    {% if captcha_enabled %}
    <div class="login-captcha">
      <label class="siimple-label">Are you human?</label><br>
      <div class="g-recaptcha" data-sitekey="{{ captcha_key }}"></div>
    </div>
    {% endif %}
    <!-- Forgot password
    <div class="login-forgot siimple-small" align="center">
      Forgot password?
      <a href="/password_reset" class="siimple-link">Click here</a>
    </div>
    -->
    <!-- Notice -->
    <div class="login-privacy siimple-small" align="center">
      Please, check if all the information is correct and click on <b>"Sign in"</b>.
    </div>
    <!-- Sign in -->
    <div class="siimple-btn siimple-btn--blue login-submit" onclick="send_form_login();">Sign in</div>
    <input id="login-submit" type="submit" value="Sign in" style="display:none;">
  </form>
  <!-- New account -->
  {% if app_signup == "true" %}
  <div class="login-register" align="center">
    New to {{ openid_name }}?
    <a href="/register" class="siimple-btn siimple-btn--green login-submit" target="_blank">Create an account</a>
  </div>
  {% endif %}
</div>