<!-- Styles -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/siimple/2.0.1/siimple.min.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/login.css">

<!-- Scripts -->
<script src="https://www.google.com/recaptcha/api.js?hl=en"></script>

<!-- Send the login form -->
<script type="text/javascript">
  //Send the form
  function send_form_login(){ return document.getElementById('login-submit').click(); }
</script>

<!-- Title -->
<title>Authorize - MGviz Account</title>

<!-- Content -->
<div class="login-content">
  <!-- Title -->
  <div class="siimple-h2" align="center">Authorize</div>
  <!-- Detail -->
  <div class="siimple-p" align="center">
    <b>PanelMaps</b> would like permission to access to your <b>MGviz account</b>
  </div>
  <form id="login-form" method="POST" enctype="application/x-www-form-urlencoded">
    {% if error %}
      <!-- display the alert mesage -->
      <div class="siimple-alert siimple-alert--error" align="center">{{ error }}</div>
    {% endif %}
    <!-- Email -->
    <div>
      <label class="siimple-label">Email</label><br>
      <input type="email" class="siimple-input login-input" id="email" name="email" required>
    </div>
    <!-- Password input -->
    <div>
      <label class="siimple-label">Password</label><br>
      <input type="password" class="siimple-input login-input" id="pwd" name="pwd" required>
    </div>
    <input type="hidden" name="app_id" value="{{ app_id }}" required>
    <input type="hidden" name="app_state" value="{{ app_state }}" required>
    <!-- Captcha -->
    <div class="login-captcha" align="center">
      <div class="g-recaptcha" data-sitekey="{{ captcha_key }}"></div>
    </div>
    <!-- Sign in -->
    <div class="siimple-btn siimple-btn--blue login-submit" onclick="send_form_login();">Sign in</div>
    <input id="login-submit" type="submit" value="Sign in" style="display:none;">
  </form>
  <!-- New account -->
  <div class="login-register" align="center">
    New to MGviz Accounts? <br><a href="/register" class="siimple-link" target="_blank">Create an account</a>
  </div>
</div>