<!-- Styles -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/siimple/2.0.1/siimple.min.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/login.css">

<!-- Title -->
<title>Join - MGviz Account</title>

<!-- Content -->
<div class="login-content">
  <!-- Title -->
  <div class="siimple-h2" align="center">You are done!</div>
  <div class="login-detail siimple-small" align="center">
    Thanks for creating a <b>MGviz Account</b>. Now you can continue with your signup:
  </div>
  <a href="/login" class="siimple-btn siimple-btn--green login-submit">Continue</a>
</div>