<!-- Styles -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/siimple/2.0.1/siimple.min.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/login.css">

<!-- Title -->
<title>Join - MGviz Account</title>

<!-- Content -->
<div class="login-content">
  <!-- Title -->
  <div class="siimple-h2" align="center">Register completed</div>
  <div class="login-detail siimple-small" align="center">
    With a <b>MGviz Account</b> you will get access to all applications developed by the <b>MGviz Team</b>. All fields are required.
  </div>
  <a href="/login" class="siimple-btn siimple-btn--green login-submit">Sign in</a>
</div>