<!-- Styles -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/siimple/2.0.1/siimple.min.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/login.css">

<!-- Scripts
<script src="https://www.google.com/recaptcha/api.js?hl=en"></script> -->

<!-- Send the login form -->
<script type="text/javascript">
  //Send the form
  function send_form_register(){ return document.getElementById('register-submit').click(); }
</script>

<!-- Title -->
<title>Join - MGviz Account</title>

<!-- Content -->
<div class="login-content">
  <!-- Title -->
  <div class="siimple-h2" align="center">Join MGviz</div>
  <div class="login-detail siimple-small" align="center">
    With an <b>MGviz Account</b> you will get access to all applications developed by the <b>MGviz Team</b>. All fields are required.
  </div>
  <form id="register-form" method="POST" enctype="application/x-www-form-urlencoded">
    {% if error %}
      <!-- display the alert mesage -->
      <div class="siimple-alert siimple-alert--error" align="center">{{ error }}</div>
    {% endif %}
    <!-- Name -->
    <div>
      <label class="siimple-label">Your name</label><br>
      <input type="text" class="siimple-input login-input" name="name" required><br>
      <small class="siimple-small">Tell us what is your name.</small>
    </div>
    <!-- Institution -->
    <div>
      <label class="siimple-label">Your institution</label><br>
      <input type="text" class="siimple-input login-input" name="institution" required><br>
      <small class="siimple-small">Tell us where are your working.</small>
    </div>
    <!-- Email -->
    <div>
      <label class="siimple-label">Email</label><br>
      <input type="email" class="siimple-input login-input" name="email" required><br>
      <small class="siimple-small">We will send you an email to validate it.</small>
    </div>
    <!-- Password input -->
    <div>
      <label class="siimple-label">Password</label><br>
      <input type="password" class="siimple-input login-input" name="pwd" pattern=".{6,}" title="6 characters minimum" required><br>
      <small class="siimple-small">Use at least six characters.</small>
    </div>
    <!-- Captcha
    <div class="login-captcha" align="center">
      <div class="g-recaptcha" data-sitekey="{{ captcha_key }}"></div>
    </div> -->
    <!-- Privacy -->
    <div class="login-privacy siimple-small" align="center">
      By clicking on <b>"Create account"</b> below, you are agreeing to our Privacy Policy.
    </div>
    <!-- Sign in -->
    <div class="siimple-btn siimple-btn--blue login-submit" onclick="send_form_register();">Create account</div>
    <input id="register-submit" type="submit" value="Sign in" style="display:none;">
  </form>
  <!-- New account -->
  <div class="login-register" align="center">
    Already have an account?
    <a href="/login" class="siimple-btn siimple-btn--green login-submit">Sign in</a>
  </div>
</div>