{% extends "layouts/dashboard.html" %}

{% block dashboardContent %}
<!-- Scripts -->
<script type="text/javascript">
    //Send the form
    function sendForm(name) {
        return document.getElementById(name).click();
    }

    function hide() {
        document.getElementById('alert').style.display = "none";
    }
</script>
<!-- Form -->
<form class="siimple-form" method="post">
    <div class="siimple-form-title">Change password</div>
    <div class="siimple-form-detail">
        Introduce your current password to change it to a new one.
    </div>
    {% if alert_message %}
    <!-- Alert -->
    <div class="alert siimple-alert siimple-alert--{{ alert_color }}" id="alert">
        <div class="siimple-close" onclick="hideElement('alert')"></div>
        {{ alert_message }}
    </div>
    {% endif %}
    <!-- Current pass -->
    <div class="siimple-form-field">
        <div class="siimple-form-field-label">Current password</div>
        <input type="password" class="siimple-input siimple-input--fluid" name="pwd" pattern=".{6,}" required>
    </div>
    <!-- New pass -->
    <div class="siimple-form-field">
        <div class="siimple-form-field-label">New password</div>
        <input type="password" class="siimple-input siimple-input--fluid" name="new_pwd" pattern=".{6,}" required>
        <div class="siimple-form-field-helper">6 characters minimum</div>
    </div>
    <!-- Repeat new pass -->
    <div class="siimple-form-field">
        <div class="siimple-form-field-label">Repeat new password</div>
        <input type="password" class="siimple-input siimple-input--fluid" name="repeat_pwd" pattern=".{6,}" required>
    </div>
    <div class="siimple-form-field">
        <div class="siimple-btn siimple-btn--green" onclick="sendForm('password-submit')">Update password</div>
        <input id="password-submit" type="submit" value="Change password" style="display:none;">
    </div>
</form>
{% endblock %}