{% extends "layouts/dashboard.html" %}

{% block dashboardContent %}
    <!-- Non-editable info -->
    <div class="siimple-h3">{{ app.name }} application overview</div>
    {% include "partials/alert.html" %}
    <div class="siimple-form-field">
        <div class="siimple-form-field-label"><b>ID of {{ app.name }}</b></div>
        <div class="siimple-code">{{ app.id }}</div>
    </div>
    <div class="siimple-form-field">
        <div class="siimple-form-field-label"><b>Secret of {{ app.name }}</b></div>
        <div class="siimple-code">{{ app.secret }}</div>
    </div>
    <!-- Edit the info -->
    <form class="siimple-form">
        <div class="siimple-form-title">Edit the app information</div>
        <div class="siimple-form-field">
            <div class="siimple-form-field-label">Name of the application</div>
            <input type="text" class="siimple-input siimple-input--fluid" value="{{ app.name }}" name="name" required>
            <div class="siimple-form-field-helper">Official name of the application</div>
        </div>
        <div class="siimple-form-field">
            <div class="siimple-form-field-label">Detail of the application</div>
            <input type="text" class="siimple-input siimple-input--fluid" value="{{ app.detail }}" name="detail"
                   required>
            <div class="siimple-form-field-helper">Brief description of the application</div>
        </div>
        <div class="siimple-form-field">
            <div class="siimple-form-field-label">URL</div>
            <input type="text" class="siimple-input siimple-input--fluid" value="{{ app.detail }}" name="detail"
                   required>
            <div class="siimple-form-field-helper">URL that the users will access</div>
        </div>
        <div class="siimple-btn siimple-btn--blue" id="update-btn">Update the information</div>
    </form>
{% endblock %}


{#    <span style="color: #9098b2;">#}