{% extends "layouts/dashboard.html" %}

{% block dashboardContent %}
    <div class="siimple-h3 dashboard-h3">Applications management</div>
    <p class="siimple-p">Delete or modify existing apps or create new ones.</p>
    {% include "partials/alert.html" %}
    <!-- Create app -->
    <a class="siimple-btn siimple-btn--blue" href="/dashboard/admin/apps/new">Register a new application</a>
    <!-- List of apps -->
    {% if apps %}
        <div class="siimple-h4">Registered applications</div>
        <div class="siimple-table">
            <div class="siimple-table-header">
                <div class="siimple-table-row">
                    <div class="siimple-table-cell">Name</div>
                    <div class="siimple-table-cell">Detail</div>
                    <div class="siimple-table-cell">Edit</div>
                </div>
            </div>
            <div class="siimple-table-body">
                {% for app in apps %}
                    <div class="siimple-table-row">
                        <div class="siimple-table-cell">{{ app.name }}</div>
                        <div class="siimple-table-cell">{{ app.detail }}</div>
                        <div class="siimple-table-cell"><a href="/dashboard/admin/apps/{{ app.id }}" class="siimple-btn siimple-btn--blue">Edit</a></div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- No apps registered -->
    {% else %}
        <div class="siimple-h6">There are currently no applications registered;</div>
    {% endif %}
{% endblock %}