$general-width: 365px;

.account-password-form {
    //max-width: $general-width;
}

.account-input {
    //width: 100%;
}

.account-content div {
    margin-bottom: 1em;
}

.account-delete .btn {
    margin-top: 1em;
}